# Игнорировать виртуальное окружение
venv/

# Игнорировать файлы переменных окружения (если вы не хотите публиковать секреты)
ODAA_GPT2/.env

# Игнорировать файлы базы данных (если вы не хотите их хранить в репозитории)
*.db

# Игнорировать временные файлы Python
__pycache__/
*.pyc

# Игнорировать системные файлы (опционально)
.DS_Store
Thumbs.db
